/* Basic Reset */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img, video, iframe {
  height: auto;
}
a{
  text-decoration: none;
  color: white;
}
/* Navigation */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: 0.3s linear;
  
}

nav.scrolled {
  background-color: rgba(246, 247, 242, 0.97); /* Dark background with slight transparency */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-left{
  list-style: none;
  display: flex;
  gap: 15px;
}
.nav-right{
  padding-top: 10px;
}
.nav-right a{
  margin-right: 10px;
  text-decoration: none;
}

.nav-left a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  padding: 20px 15px;
  transition: linear 0.5s;
}

.nav-left a:hover {
  background-color: #333; /* Adjust this color as needed */
  color: white;
  border-radius: 5px;
}

.logo {
  font-weight: bold;
  font-size: 2em;
  color: #004c4c;
}

/* Hover css */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('newHome.png');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #373535;
  margin-bottom: 0; /* Ensure no margin */
  overflow: hidden;
}
.hero-content{
  background-color: rgba(234, 235, 230, 0.8);
  padding: 2%;
  position: relative;
  border-radius: 8px;
}
.hero-content img{
  margin-top: 1.25rem;
  max-width: 100%;
  height: auto;
}

.hero-content h1{
  font-size: 2rem;
  font-family: 'Mooli';
  padding-bottom: 10%;
}

.hero-content p{
  font-size: 1.5rem;
  font-family: 'Mooli';
  padding-bottom: 20%;
}

.hero-content {
  position: absolute;
  text-align: center;
  transition: opacity 0.5s ease;
  opacity: 1;
  z-index: 10;
}

.hero, .hero-content {
  opacity: 1;
}

.hero-content button{
  padding: 10px 20px;
  font-size: 1em;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.hero-content button a{
  text-decoration: none;
  color: white;
}

.hero-content button:hover{
  background-color: #555;
}


/* Content */

.SP-title {
  font-size: 24px; /* Adjust size for emphasis */
  font-weight: bold;
  color: #333; /* Dark text color */
  margin-bottom: 1.25rem; /* Space below the title */
  text-align: center; /* Center-align the title */
  text-transform: uppercase; /* Optional: All caps */
  letter-spacing: 0.625rem; /* Optional: Slight spacing for style */
  border-bottom: 2px solid #ddd; /* Optional: Underline effect */
}
.SP-title2 {
  font-size: 24px; /* Adjust size for emphasis */
  font-weight: bold;
  color: orange;
  margin-bottom: 20px; /* Space below the title */
  text-align: center; /* Center-align the title */
  text-transform: uppercase; /* Optional: All caps */
  letter-spacing: 0.625rem; /* Optional: Slight spacing for style */
  border-bottom: 2px solid #ddd; /* Optional: Underline effect */
  border-radius: 6px;
}

.SP-section {
  padding: 8px;
  margin: 1.25rem auto;
  width: 100%;
  max-width: 93.75rem;
  background-color: #006666;
  border-radius: 8px;
  text-align: center; /* Center-align content */
}

/*location*/
.location-grid {
  display: grid;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.location-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
}
.location-item:hover {
  transform: scale(1.03);
}
.location-item img {
  width: 100%;
  max-height: 510px;
  object-fit: fill;
}
.location-distance {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}


.SP-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: Rounded corners for the image */
}

.frieden-section {
  display: flex;
  width: 100%;
  margin: 50px auto;
  word-spacing:2px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-left {
  flex: 1;
  padding: 1.25rem;
  text-align: center;
}

.content-left h2 {
  font-size: 24px;
  letter-spacing: 0.25rem;
  color: #2f4f6f;
  margin-bottom: 0.625rem;
}

.content-left h3 {
  margin-top: 1.25rem;
  font-size: 20px;
  color: #2f4f6f;
}

.content-left p {
  margin: 0.625rem 0;
  line-height: 1.6;
}

.property-details {
  flex: 1;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.property-icon {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.property-icon:hover {
  transform: translateY(-5px);
}

.property-icon i {
  font-size: 2rem;
  color: #2f4f6f;
  margin-bottom: 10px;
}

.property-icon span {
  display: block;
  font-weight: bold;
  color: #2f4f6f;
  margin-bottom: 5px;
}

.property-icon p {
  color: #666;
  font-size: 0.9rem;
}
.gallery {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  flex-direction: column;
  gap: 20px;
}

.thumbnail {
  width: 70%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.thumbnail:hover {
  transform: scale(1.05);
}
.brochure{
  background-color: #29425c;
  background-image: url(bf6b6200-4d39-4f77-a434-8f65069ab5f1.jpeg);
  width: 100%;
  height: 237px;
  text-align: center;
  position: relative;
  object-fit: fill;
  background-position: center;
  position: relative;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-contact-gallery {
  width: 30%;
  height: 5vw;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  font-size: 2vw;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(120deg, #4a5050, #213c57);
  color: white;
  transition: 0.2s linear;
  opacity: 0.95;
  margin-top: 3%;
  margin-bottom: 4%;
  margin-left: 35%;
  margin-right: 35%;
  justify-content: center;
  justify-items: center;
}
/* Popup container */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}

/* Popup image container */
.image-container {
  position: relative;
  text-align: center;
}

#popupImage {
  max-width: 80%;
  max-height: 80vh;
  margin: 10px;
}

/* Image name text */
#imageName {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}


.background-image{
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the area */
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  z-index: 1; /* Places the image behind the content */
}

/* Responsive Image */
.full-image .image-container {
  width: 100%;
  height: auto;
  background-color: #333;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Ensure no margin */
  padding: 20px;
}
.container2 img{
  width: 100%;
  height: auto;
  padding: 10px;
  object-fit: fill;
  
}


.design-section {
  padding: 2rem;
  gap: 3rem;
  width: 25%;
  display: flex;
  background-color: #2f4f6f;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  color: #f7d060;
  margin: 0;
}
.details-section p {
  font-size: 22px;
  color: #29425c;
  margin: 0;
}
.details-section {
  width: 37.5%;
  padding: 1.875rem;
  background-color: #fafafa;
  border-right: 1px solid #ddd;
}
.details-section:nth-child(3) {
  border-right: none;
}
.details-section h3 {
  margin-top: 0;
  text-decoration: underline;
  color: #2f4f6f;
  font-family: 'Georgia', serif;
}

.details-section h3:hover {
  cursor: default;
  color: #29425c;
}
.spec-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.938rem;
}
.spec-table th, .spec-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.spec-table th {
  background-color: #f7f7f7;
  color: #333;
  font-weight: bold;
}
.spec-table td {
  background-color: #ffffff;
}

.bg-section {
  background-color: white;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #373535;
  margin-bottom: 0; /* Ensure no margin */
  overflow: hidden;
}

/* General Section Styling */
.boxes-section {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    gap: 1.25rem; /* Spacing between boxes */
    padding: 1.25rem;
    justify-content: center; /* Center the boxes */
    background-color: #f8f9fa; /* Light background color */
}

/* Box Styling */
.box {
    flex: 1 1 18.75rem; /* Makes boxes flexible with a minimum width of 300px */
    max-width: 25rem; /* Limit box width */
    padding: 1.25rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover effect */
}

.box:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

/* Headings */
.box h3 {
    font-size: 1.5rem;
    color:#2f4f6f;
    margin-bottom: 0.938rem;
    text-transform: uppercase;
}

/* Paragraphs */
.box p {
    font-size: 1rem;
    color: #555555;
    margin: 5px 0;
}

/*Contact styling*/
.contact {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  background-color: #f1f1f1;
  gap: 3rem;
}

.contact-information {
  width: 40%;
  color: #333;
  border-right: 2px solid black; 
}

.contact-information img{
  width: 5%;
}


.contact-information h2 {
  font-size: 1.8rem;
  color: #2f4f6f;
  margin-bottom: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-information p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0.5rem 0;
}

/* Vertical Line Divider */
.contact::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #ccc;
  display: inline-block;
  position: relative;
  top: 0;
}

/* Contact Form */
.contact-form {
  width: 50%;
}
.contact-information .phone{
 display: flex;

}
.phone img{
  width: 50px;
}
.contact-form h2 {
  font-size: 1.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2f4f6f;
  margin-bottom: 1rem;
}

.contact-form p {
  padding: 0.8rem;
  font-size: 1rem;
  width: 100%;
  line-height: 1.6;
  margin: 0.5rem 0;
}
.contact-form p strong{
  color:#2f4f6f;
}
.contact-form p {
  resize: vertical;
  height: auto;
}
.contact-information button a{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.contact-information button {
  background-color: #315a83;
  color: white;
  border: none;
  line-height: 20px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-information button:hover {
  background-color: #2f4f6f;
}

.contact-form button a{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-form button {
  background-color: #315a83;
  color: white;
  border: none;
  width: 50%;
  line-height: 20px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #2f4f6f;
}

.contact .emphasis{
  color:black;
  font-weight: bold;
}

/* Footer Logo styling */
.logo-motto-section {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #006666; 
  padding: 15px 50px; 
  color: white; 
}

.logo-motto-left {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.footerLogo {
  width: 70%; 
  height: auto;
}

.motto {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}



.whatsapp {
  text-align: right;
}

.whatsapp-icon {
  width: 70px; 
  height: auto;
  transition: transform 0.3s;
}

.whatsapp-icon:hover {
  transform: scale(1.1); 
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 2.5rem 1.25rem;
  text-align: center;
  width: 100%;
}

.footer-container {
  max-width: 75rem;
  margin: 0 auto;
}

.footer-links .footer-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.footer-column {
  margin: 10px 0;
}

.footer-link {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-link:hover {
  color:#006666;
}

.footer-divider {
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin: 1.875rem 0;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

.footer-social {
  margin-bottom: 1.25rem;
}

.footer-social .social-link {
  margin: 0 0.625rem;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.footer-social .social-link:hover {
  color:#006666;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.625rem 0.625rem;
}

.container, .hero, .frieden-section {
  width: 100%;
  margin: 0;
  padding: 0 15px; /* Add some padding on sides */
}



/* Responsive Design */
@media(max-width: 1366px){
  .hero-content{
    padding: 1%;
  }
  .hero-content img{
    margin-top: 0.625rem;
    max-width: 50%;
    height: auto;
  }
  
  .hero-content h1{
    font-size: 2rem;
    font-family: 'Mooli';
    padding-bottom: 10%;
  }
  
  .hero-content p{
    font-size: 1.5rem;
    font-family: 'Mooli';
    padding-bottom: 20%;
  }
  
  .hero-content {
    position: absolute;
    text-align: center;
    transition: opacity 0.5s ease;
    opacity: 1;
    z-index: 10;
  }
  
  .hero, .hero-content {
    opacity: 1;
  }
  
  .hero-content button{
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
}
/* Tablet Screens (below 768px) */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav{
    display: none;
  }
  
  /* Ensure no horizontal scrolling */
  .container, .hero, .frieden-section {
    width: 100%;
    padding: 0 10px;
  }
  nav {
    flex-direction: column;
    padding: 10px;
  }
  .nav-left, .nav-right {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .boxes-section {
    flex-direction: column; /* Stack boxes vertically */
    align-items: center;
  }

  .box {
    max-width: 90%; /* Use full width */
  }

  .frieden-section {
    flex-direction: column;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contact-information {
    width: 100%; /* Full width for mobile */
    border-right: none;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 100%; /* Full width for mobile */
  }

  .footer-container {
    text-align: center;
  }

  .footer-links .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .location-grid {
    grid-template-columns: 1fr; /* Stack items vertically on smaller screens */
    width: 90%; /* Adjust width for smaller screens */
 }
 
 .location-item img {
    height: auto; /* Allow height to adjust proportionally */
    max-height: 510px;
 }
 .container2 {
  display: block;
}
.container2 img{
  width: 100%;
  height: auto;
  padding: 3px;
  object-fit: fill;
}

.property-layout-container {
  flex-direction: column;
}

.property-grid {
  grid-template-columns: 1fr;
}

.brochure{
  background-color: #29425c;
  width: 100%;
  height: auto;
  background-image: none;
}

.btn-contact-gallery {
  width: 50%;
  height: 13vw;
  font-size: 5vw;
  border-radius: 20px;
  border: none;
  opacity: 1;
  margin: 0 auto;
  background-image: linear-gradient(120deg, #213c57, #213c57);
}

}

/* Mobile Screens (below 480px) */
@media (max-width: 480px) {
  *{
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }
  
  /* Additional mobile-specific adjustments */
  .container, .hero, .frieden-section {
    width: 100%;
    padding: 0 5px;
  }
  nav {
    display: none; 
  }

  .nav-left a, .nav-right a {
    font-size: 14px; /* Smaller text */
  }
  .hero{
    width: 100%;
  }
  .hero-content{
    padding: 1rem;
  }
  .hero-content img{
    margin-top: 0.5rem;
    max-width: 100%;
    height: auto;
  }

  .hero-content h1 {
    font-size: 2rem; /* Smaller heading */
  }

  .hero-content p {
    font-size: 1rem;
  }
  .content-left h2{
    font-size: 22px;
    letter-spacing: 0.15rem;
  }
  .SP-title, .SP-title2 {
    font-size: 22px;
  }

  .footer {
    font-size: 12px;
  }

  .container {
    display: block;
    width: 100%;
  }

  .design-section {
    display: none;
  }

  .details-section p {
    font-size: 18px;
    margin: 0;
  }

  .details-section {
    width: 100%;
    padding: 0.625rem;
  }

  .details-section h3 {
    margin-top: 0;
    font-size: 18px;
  }

  .spec-table {
    width: 100%;
    margin-top: 0.45rem;
  }

  .spec-table th, .spec-table td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
  }

  .bg-section {
    position: relative;
    height: 100%;
    display: flex;
    margin-bottom: 0;
  }

  .boxes-section {
    gap: 0.5rem;
    padding: 1.25rem;
    width: 100%;
    box-sizing: border-box;
  }

  .box {
    flex: 1 1 5rem;
    max-width: 25rem;
    width: 100%; /* Ensure the boxes do not exceed the width */
    max-width: 100%;
    padding: 1.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .box h3{
    font-size: 18px;
  }

  .box:hover {
    transform: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }

  .footer-divider{
    margin: 1.6rem;
  }

  .contact-information img{
    width: 25%;
    float: left;
  }
  .contact-information p{
    font-size: 1.2rem;
  }
  
  .contact-form h2 {
    font-size: 1.8rem;
  }
  
  .contact-form p{
    font-size: 1rem;
  }
  .contact-form p{
    padding: 0;
  }
  .contact-form button{
    width: 100%;
  }

  .contact-form textarea {
    font-size: 0.9rem;
  }

  /*location*/
.location-grid {
  grid-gap: 10px;
  border-radius: 4px;
  width: 100%;
}
.location-item {
  transition: none;
}
.location-item img {
  width: 100%;
  height: 210px;
  object-fit: fill;
}
.container2 {
  display: block;
}
.container2 img{
  width: 100%;
  height: auto;
  padding: 3px;
  object-fit: fill;
}
.brochure{
  background-color: #29425c;
  width: 100%;
  height: auto;
  background-image: none;
}

.btn-contact-gallery {
  width: 50%;
  height: 13vw;
  font-size: 5vw;
  border-radius: 20px;
  border: none;
  opacity: 1;
  margin: 0 auto;
  background-image: linear-gradient(120deg, #213c57, #213c57);
}
}
